body
{
    background-color: rgb(76, 189, 250);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
#box
{
    background-color: rgb(251, 212, 153);
    color: rgb(111, 200, 170);
    margin: 20px auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(255, 234, 148);
    border-width: 8px;
    border: 10px;
    width: 40%;

}